@model List<CloudReady.Web.Models.Image>
@{
    ViewBag.Title = "Bilder";
}

<h1>Bilder</h1>

<h2>Ny</h2>

@using (var form = Html.BeginForm("UploadImages", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="files" multiple accept="image/*" class="form-control"/>
    <br/>
    <input type="submit" value="Ladda upp" class="btn btn-default" />
}

<h2>Befintliga</h2>
@foreach (var image in Model)
{
    <div class="media">
        <div class="media-left">
            <img class="media-object" src="@image.Url" alt="@image.Name" style="width: 60px; height: 60px;">
        </div>
        <div class="media-body">
            <h4 class="media-heading">@image.Name</h4>
            Size: @(image.Size / 1000) kb
        </div>
    </div>
}